@charset "utf-8;
    
*{
    box-sizing:border-box;
     margin:0;
     padding:0;
}

body{
    margin: 0;
    padding: 0;
    font-family:"맑은고딕";
    font-size:1rem;
    font-weight:300;
}
a:link, a:visited{
    text-decoration:none;
    color:black;
}
#wrapper{
    width:1200px;
    height: auto;
    margin: 0 auto;
}
.wrapper::after{
    content:"";
    display:block;
    clear:both;
}

.header{
    width: 100%;
    height: 80px;
    margin: 0 auto;
}

.header_left{
    width: 40%;
    height: 100%;
    float: left;
}
.header_left img{
    width: 200px;
    height: 40px;
    margin-top: 40px;
}
.header_right{
    width:60%;
    height: 100%;
    line-height: 80px;
    float: right;
    position:relative;
}
.header_right a{
    width:20%;
    height: 100%;
    display:inline-block;
    float: left;
    text-align:right;
    padding-top: 20px;
    font-size: 1.1rem;
    font-weight: 600;
/*    border: 1px solid red;*/
}

.slide{
    width: 1200px;
    height: 300px;
    position:relative;
    overflow:hidden;
    margin-top: 10px;
    margin-bottom: 10px;
/*    border: 1px solid red;*/
}

.slider{
    width: 3600px;
    height: 300px;
    position:absolute;
    top:0;
    left:0;
    transition:0.5s;
}
.slider img{
    width:1200px;
    height: 300px;
    float: left;
    display:block;
}
.section_box{
    width:1200px;
    height: 150px;
}
.section_boxs{
    width: 590px;
    height: 100%;
    float: left;
    background: #eee;
    position: relative;
    margin-top: 20px;
/*    border: 1px solid red;*/
}
.box1{
   margin-right: 10px;
}
.box2{
    float: right;
}
.section_boxs p{
    padding-left: 10px;
}
.section_boxs p:nth-child(1){
    font-size: 1.1rem;
    font-weight: 600;
    display: block;
}
.section_boxs p:nth-child(2){
    font-size: 0.9rem;
    font-weight: 400;
}
.section_boxs p:nth-child(4){
    font-size: 1rem;
    font-weight: 600;
    margin-left: 5px;
    display: inline-block;
}
.img1{
   width: 30px;
    height: 30px;
    float: left;
    margin: 10px 5px 0 5px;
    display: inline-block;
}
.img2{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 20%;
    right: 5%;
}
.section_img{
    width: 1200px;
    height: auto;
    margin-top: 10px;
}
.section_img .h{
    font-size: 25px;
    font-weight: 600;
    margin: 20px;
    display:inline-block;
}
.section_img .sub{
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    color: gray;
}
.imgbox{
    width: 1200px;
    height: auto;
}
.imgboxs{
    width: 370px;
    height: auto;
    float: left;
    position:relative;
    margin-bottom: 20px;
}
.boxsimg{
    width: 100%;
    height: 100%;
}
.imgleft{
    margin-right: 45px;
}
.imgright{
    float: right;
}
.imgboxs p:nth-child(2){
    display: block;
    font-size: 16px;
    font-weight: 600;
}
.imgboxs p:nth-child(3){
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
}
.imgboxs span{
    font-size: 14px;
    color:gray;
}
.boximg{
    position:absolute;
    top: 90%;
    right:0;
}

.footer{
    clear:both;
    width: 1200px;
    height: 150px;
    background: #222;
}
.footleft{
    width:600px;
    height: 100%;
    float: left;
}
.footleft img{
    width: 200px;
    height: 80px;
    margin: 20px 0 0 100px;
}
.footright{
    width:600px;
    height: 100%;
    float: left;
}
.footright a{
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    margin: 20px 20px 10px 0;
}
.footright p{
    font-size: 12px;
    font-weight: 300;
    line-height: 1;
    color: #bbb;
}
.list{
    width: 1200px;
    height: 0;
    position:absolute;
    top: 100%;
    right:0;
    z-index: 999;
    background:black;
    color:#fff;
    transition:0.5s;
    overflow: hidden;
    
}
.list ul{
    display: inline-block;
    width: 720px;
    float: right;
}
.list li{
    width: 20%;
    list-style: none;
    display:inline-block;
    float: left;
    line-height: 2.5;
    text-align:right;
}
.hover:hover .list{
    height: 200px;
}